# Keys
*.pem
*.env
*.env.*
!*.env.sample
*.aws
*.crt
*.key
*.properties
# Build

**/env

# Python
**/__pycache__/
**/*.cache
**/*_cache
**/.venv
**/.ipynb_checkpoints
# Note: Poetry lock files are committed
# https://python-poetry.org/docs/basic-usage/#committing-your-poetrylock-file-to-version-control


# Logs
logs/
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDEs
.idea/
*.iml

# Temporary datasets
**/video_directory/local_sink
**/video_directory/local_staging
**/kafka/data
**/logs

# Generated notebooks ipynb files
**/datalake/**/*.ipynb



