# Keys
*.pem
*.env
*.env.*
!*.env.sample
*.aws
*.crt
*.key

# Build

**/env

# Python
**/__pycache__/
**/*.cache
**/*_cache
**/.venv
**/.ipynb_checkpoints
# Note: Poetry lock files are committed
# https://python-poetry.org/docs/basic-usage/#committing-your-poetrylock-file-to-version-control

# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Logs
logs/
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# IDEs
.idea/
*.iml

# Temporary datasets
**/video_directory/local_sink
**/video_directory/local_staging

# Generated notebooks ipynb files
**/datalake/**/*.ipynb

# Databricks
.databricks
